<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <title>Travelog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="/node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <link href="/node_modules/fine-uploader/fine-uploader/fine-uploader-gallery.min.css" rel="stylesheet">
    <link href="/node_modules/dialog-polyfill/dialog-polyfill.css" rel="stylesheet">
    <link href="/css/core.css" rel="stylesheet">
    <script src="/node_modules/fine-uploader/s3.fine-uploader/s3.fine-uploader.js"></script>
    <script src="/node_modules/dialog-polyfill/dialog-polyfill.js"></script>
    <script th:utext="${initScript}"></script>
    <script src="/js/travelog.js"></script>
</head>
<body ng-app="travelog">
<!-- Header -->


<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header" style="height: 120px">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/img/logo.png" style="height: 100px"/>
            </a>
        </div>
    </div>
</nav>
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">



    <div class="container">
        <div ng-view></div>

    </div>

    <ul class="social-links">
        <li>
            <a href="http://www.kgionline.com">
                <div> &copy; Konstantin Ignatyev - 2017</div>
            </a>
        </li>
    </ul>
</th:block>
</body>
</html>