<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >

<head>
    <title>Travelog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/core.css" rel="stylesheet">
    <script href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <link href="/node_modules/fine-uploader/fine-uploader/fine-uploader-gallery.min.css" rel="stylesheet">
    <link href="/node_modules/dialog-polyfill/dialog-polyfill.css" rel="stylesheet">

    <script src="/node_modules/fine-uploader/s3.fine-uploader/s3.fine-uploader.js"></script>
    <script src="/node_modules/dialog-polyfill/dialog-polyfill.js"></script>
    <script th:utext="${initScript}"></script>
    <script src="/js/travelog.js"></script>
</head>
<body ng-app="travelog" ng-controller="UploadCtrl">
<!-- Header -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/img/logo.png" style="height: 100px"/>
            </a>
        </div>
    </div>
</nav>
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div>
        <p>Create your first travelog entry:</p>
        <div fine-uploader
             not-available-placeholder="/node_modules/fine-uploader/s3.fine-uploader/placeholders/not_available-generic.png"
             waiting-placeholder="/node_modules/fine-uploader/s3.fine-uploader/placeholders/waiting-generic.png"
             max-file-size="10000000"
             large-preview-size="500"
             allowed-mimes="image/jpeg, image/png, image/gif, image/tiff, image/bmp"
             allowed-extensions="{{['jpeg', 'jpg', 'png', 'gif', 'tiff', 'tif', 'bmp']}}"></div>

    </div>
    <dialog class="large-preview">
        <button title="close" ng-click="closePreview()">X</button>
        <image ng-src="{{largePreviewUri}}" />
    </dialog>


    <script type="text/template" id="qq-template" th:replace="fragments/qq-template :: qq-template"> </script>





    <ul class="social-links">
        <li>
            <a href="http://www.kgionline.com" ><div> &copy; Konstantin Ignatyev - 2017</div> </a>
        </li>
    </ul>
</th:block>
</body>
</html>