html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: transparent;
}

.container {
    background-color: rgba(204, 204, 204, 0.6);
}

.navbar-brand {
    height: auto;
}

.social-links {
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
}
.social-links > li {
    width: 30%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

/* uploader*/

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
/* /uploader*/