<div>
    <a href="#!/travelogs-list"> list </a>
    <div>
        <div fine-uploader

             not-available-placeholder="/node_modules/fine-uploader/s3.fine-uploader/placeholders/not_available-generic.png"
             waiting-placeholder="/node_modules/fine-uploader/s3.fine-uploader/placeholders/waiting-generic.png"
             max-file-size="10000000"
             large-preview-size="500"
             allowed-mimes="image/jpeg, image/png, image/gif, image/tiff, image/bmp"
             allowed-extensions='{{["jpeg", "jpg", "png", "gif", "tiff", "tif", "bmp"]}}'></div>

    </div>
    <dialog class="large-preview">
        <button title="close" ng-click="closePreview()">X</button>
        <image ng-src="{{largePreviewUri}}" />
    </dialog>
</div>