<div>
    <a href="#!/travelogs-list"> list </a>


<!--{{tl}}-->

    <div class="row" id="ctrl">
            <div class="col-md-3">
                <button class="btn btn-info" ng-click="saveTravelog()"> Save </button>
            </div>

        <div class="col-md-3">
            <button class="btn btn-danger" ng-click="deleteTravelog()" ng-disabled="busy"> Delete </button>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <h1>Title: <input type="text" ng-model="tl.title" /></h1>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
                    accept="image/*" ngf-max-height="10000" ngf-max-size="300MB">
                Select Files
            </button>
            <br><br>
            Files:
            <ul>
                <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
                    <img src="/img/ajax-loader.gif"  width="200px" ng-show="f.inProgress"/>
                    <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
             ng-bind="f.progress + '%'"></div>
      </span>
                </li>
                <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                </li>
            </ul>
            {{errorMsg}}
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <li ng-repeat="a in tl.assets">
                    {{a}}
                    <img  class="tl-image"  travelog="tl" travelog-image="a" img-size="sm" pending="yes" />
                </li>
            </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <button class="btn btn-sm" ng-click="refresh()">
                    refresh
                </button>
            </div>
    </div>
</div>